<%= form_for(:session, url: login_path) do |f| %>
      
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    <p>New user? <%= link_to 'Register' , new_user_path %></p>