
    <% @articles.each do |article| %>
      
  
        <%= article.title %>
        <%= article.content %>
         <%= image_tag(article.image) %>
        
    <%= link_to "#{article.title}", article %>
        <!--<td><%= link_to 'Edit', edit_article_path(article) %></td>-->
        <!--<td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      
    <% end %>
 
<br>

<%= link_to 'New Article', new_article_path %>
