<p id="notice"><%= notice %></p>

<h1 align="center">
  <%= @article.title %>
</h1>
<div class="show-div-flex">
  <div class="imsize " align="center">
  <p>
  <% image_tag(@article.image) %>
</p>
</div>
<div class="cont-show">
  <p>
  
  <%= @article.content %>
</p>
</div>
<div class="vote-sect">
  
<%= link_to like_article_path(@article), class:"like-btn", method: :put , remote: :true do %>
<div>
  <span>
    <p>
      <i class="fa fa-thumbs-up fa-2x"></i>
    </p>
  </span>
</div>
<% end %>
<span class="likes-count">
<%= @article.get_upvotes.size %>
</span>
<p>
  <strong>Author:</strong>
  <%= @article.user.name %>
</p>
<% if @article.categories.any? %>

<p>Categories: <%= render @article.categories %></p>

<% end %>
</div>
</div>


<!--<%= link_to 'Edit', edit_article_path(@article) %> |-->
<!--<%= link_to 'Back', articles_path %>-->
