<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>


<p>
  <strong>Image:</strong>
  <%= image_tag(@article.image) %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>
<%= link_to like_article_path(@article), class:"like-btn", method: :put , remote: :true %>
<div>
  <span>
    <p>
      <i class="fa fa-thumbs-up fa-3x"></i>
    </p>
  </span>
</div>
<span class="likes-count">
<%= @article.get_upvotes.size %>
</span>
<p>
  <strong>User:</strong>
  <%= @article.user %>
</p>
<% if @article.categories.any? %>

<p>Categories: <%= render @article.categories %></p>

<% end %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
