
<h1 align="center"><%= "Category: " + @category.name %></h1>

<%= render 'articles/article', obj: @category_articles %>

<p>
  <span>Name:</span>
  <%= @category.name %>
</p>

<p>
  <span>Priority:</span>
  <%= @category.priority %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
